USE [master]
GO
/****** Object:  Database [DB_A6BF8E_pedroclavijo]    Script Date: 5/04/2021 09:27:37 ******/
CREATE DATABASE [Rfid]
GO
USE [Rfid]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 5/04/2021 09:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[RUC] [varchar](12) NOT NULL,
	[Direccion] [varchar](250) NULL,
	[LastUpdate] [datetime] NULL,
	[RowState] [char](1) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Local]    Script Date: 5/04/2021 09:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Local](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Dirección] [varchar](200) NULL,
	[EmpresaId] [int] NULL,
	[LastUpdate] [datetime] NULL,
	[RowState] [char](1) NULL,
 CONSTRAINT [PK_Local] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 5/04/2021 09:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[LocalId] [int] NULL,
	[LastUpdate] [datetime] NULL,
	[RowState] [char](1) NULL,
 CONSTRAINT [PK_Modulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadTag]    Script Date: 5/04/2021 09:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TAG] [int] NULL,
	[EPC] [varchar](40) NULL,
	[TID] [varchar](250) NULL,
	[InvTimes] [int] NULL,
	[RSSI] [int] NULL,
	[AntID] [int] NULL,
	[LastTime] [datetime] NULL,
	[FirstReadTime] [datetime] NULL,
	[Color] [varchar](10) NULL,
	[ModuloId] [varchar](20) NULL,
	[ModuloRol] [varchar](20) NULL,
 CONSTRAINT [PK_ReadTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/04/2021 09:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[ApellidoPaterno] [varchar](20) NOT NULL,
	[ApellidoMaterno] [varchar](20) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Cargo] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Telefono] [varchar](15) NULL,
	[Celular] [varchar](15) NULL,
	[Direccion] [varchar](250) NULL,
	[EmpresaId] [int] NULL,
	[LastUpdate] [datetime] NULL,
	[RowState] [char](1) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[uview_LecturasDelDia]    Script Date: 5/04/2021 09:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[uview_LecturasDelDia]
AS
SELECT Id, TAG, EPC, TID, InvTimes, RSSI, AntID, LastTime, FirstReadTime, Color
FROM     dbo.ReadTag
WHERE  (LastTime BETWEEN CONVERT(DATE, GETDATE()) AND GETDATE())
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([Id], [Nombre], [RUC], [Direccion], [LastUpdate], [RowState]) VALUES (1, N'Plaza Vea Chorrillos', N'123456789', N'Plaza Vea de Chorrillos', CAST(N'2021-03-21T17:47:27.907' AS DateTime), N'A')
INSERT [dbo].[Empresa] ([Id], [Nombre], [RUC], [Direccion], [LastUpdate], [RowState]) VALUES (2, N'Plaza Vea Barranco', N'123456780', N'Plaza Vea de Barranco', CAST(N'2021-03-21T17:48:08.407' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[Local] ON 

INSERT [dbo].[Local] ([Id], [Nombre], [Dirección], [EmpresaId], [LastUpdate], [RowState]) VALUES (1, N'Local 001', N'Av. Brasil cuadra 7', 1, CAST(N'2021-03-21T18:19:36.780' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[Local] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON 

INSERT [dbo].[Modulo] ([Id], [Codigo], [Nombre], [LocalId], [LastUpdate], [RowState]) VALUES (1, N'88031066', N'Modulo de Puerta', 1, CAST(N'2021-03-21T18:19:36.780' AS DateTime), N'A')
INSERT [dbo].[Modulo] ([Id], [Codigo], [Nombre], [LocalId], [LastUpdate], [RowState]) VALUES (2, N'94110141', N'Modulo de Caja', 1, CAST(N'2021-03-21T18:19:36.780' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[Modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadTag] ON 

INSERT [dbo].[ReadTag] ([Id], [TAG], [EPC], [TID], [InvTimes], [RSSI], [AntID], [LastTime], [FirstReadTime], [Color], [ModuloId], [ModuloRol]) VALUES (1, 0, N'00-00-72-00-25-12-01-99-11-90-9F-45', N'', 39, 0, 2, CAST(N'2021-03-12T19:02:25.000' AS DateTime), CAST(N'2021-03-12T00:00:07.190' AS DateTime), N'White', N'1', N'Puerta')
INSERT [dbo].[ReadTag] ([Id], [TAG], [EPC], [TID], [InvTimes], [RSSI], [AntID], [LastTime], [FirstReadTime], [Color], [ModuloId], [ModuloRol]) VALUES (2, 0, N'00-00-72-00-25-12-01-99-11-90-9F-45', N'', 32, 0, 2, CAST(N'2021-03-12T19:02:29.000' AS DateTime), CAST(N'2021-03-12T00:00:00.670' AS DateTime), N'White', N'1', N'Puerta')
INSERT [dbo].[ReadTag] ([Id], [TAG], [EPC], [TID], [InvTimes], [RSSI], [AntID], [LastTime], [FirstReadTime], [Color], [ModuloId], [ModuloRol]) VALUES (3, 0, N'00-00-67-00-07-0B-01-72-19-90-44-BE', N'', 4, 0, 2, CAST(N'2021-03-12T19:02:33.000' AS DateTime), CAST(N'2021-03-12T00:00:02.153' AS DateTime), N'White', N'1', N'Puerta')
GO
SET IDENTITY_INSERT [dbo].[ReadTag] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [DNI], [Cargo], [Email], [Telefono], [Celular], [Direccion], [EmpresaId], [LastUpdate], [RowState]) VALUES (1, N'Jose', N'Liza', N'Garavito', N'21520706', N'Analista Programador', N'jliza@pystelectronico.com', N'123', N'3454', N'jal;sdjf;lasdk', 1, CAST(N'2021-04-04T16:44:50.040' AS DateTime), N'A')
INSERT [dbo].[Usuario] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [DNI], [Cargo], [Email], [Telefono], [Celular], [Direccion], [EmpresaId], [LastUpdate], [RowState]) VALUES (2, N'Melissa', N'Liza', N'Sheron', N'75743202', N'Analista Programador', N'melissalizasheron@gmail.com', N'23453245', N'342342', N'fjalsdfjl;kasd', 1, CAST(N'2021-04-04T16:45:25.933' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ('A') FOR [RowState]
GO
ALTER TABLE [dbo].[Local] ADD  CONSTRAINT [DF_Local_LastUpdate]  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [dbo].[Local] ADD  CONSTRAINT [DF_Local_RowState]  DEFAULT ('A') FOR [RowState]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('A') FOR [RowState]
GO
/****** Object:  StoredProcedure [dbo].[AddNewReadTag]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AddNewReadTag]  
(
	@TAG int,
	@EPC varchar (40),  
	@TID varchar (250),  
	@InvTimes int,
	@RSSI int,
	@AntID int,
	@LastTime datetime,
	@FirstReadTime datetime,
	@Color varchar(10),
	@ModuloId varchar(20),
	@ModuloRol varchar(20)
)  
as  
Begin  
   INSERT INTO ReadTag
                         (TAG, EPC, TID, InvTimes, RSSI, AntID, LastTime, FirstReadTime, Color, ModuloId, ModuloRol)
VALUES        (@TAG, @EPC, @TID, @InvTimes, @RSSI, @AntID, @LastTime, @FirstReadTime, @Color, @ModuloId, @ModuloRol)
   
End 
GO
/****** Object:  StoredProcedure [dbo].[DeleteReadTag]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[DeleteReadTag]  
(  
   @Id int  
)  
as   
begin  
   Delete from [dbo].[ReadTag] where Id=@Id  
End 
GO
/****** Object:  StoredProcedure [dbo].[GetReadTag]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[GetReadTag]  
as  
begin  
	SELECT        Id, EPC, TID, InvTimes, RSSI, AntID, LastTime, FirstReadTime, Color
	FROM            ReadTag
End 
GO
/****** Object:  StoredProcedure [dbo].[UpdateReadTag]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UpdateReadTag]  
(  
	@Id int,
	@EPC varchar (40),  
	@TID varchar (250),  
	@InvTimes int,
	@RSSI int,
	@AntID int,
	@LastTime datetime,
	@FirstReadTime datetime,
	@Color varchar(10) 
)  
as  
begin  
   Update ReadTag   
		set EPC=@EPC,  
		TID=@TID,  
		InvTimes=@InvTimes,
		RSSI=@RSSI,
		AntID=@AntID,
		LastTime=@LastTime,
		FirstReadTime=@FirstReadTime,
		Color=@Color
   where 
		Id=@Id  
End
GO
/****** Object:  StoredProcedure [dbo].[usp_Empresa_Create]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Exec usp_Empresa_Select_by_Nombre @Nombre = 'E'
-------------------------------------------------------


CREATE PROCEDURE [dbo].[usp_Empresa_Create]
(
@Nombre varchar(250),
@RUC varchar(12),
@Direccion varchar(250)
)
AS
	INSERT INTO Empresa(Nombre, RUC, Direccion) VALUES(@Nombre, @RUC, @Direccion)
	
GO
/****** Object:  StoredProcedure [dbo].[usp_Empresa_Delete]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Exec usp_Empresa_Update @Id = 4, @Nombre = 'Maria', @RUC = '96385274', @Direccion = 'Urb. Nosiglia, Pasaje 2 156, Breña'

-- Select * from Empresa

-----------------------------------------------

CREATE PROCEDURE [dbo].[usp_Empresa_Delete]
(
@Id INT
)
AS
	UPDATE Empresa
	SET 
		RowState = 'D',
		LastUpdate = GETDATE()
	WHERE
		Id =  @Id
GO
/****** Object:  StoredProcedure [dbo].[usp_Empresa_Select]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Empresa_Select]
AS
	SELECT * FROM Empresa
	WHERE RowState <> 'D'
GO
/****** Object:  StoredProcedure [dbo].[usp_Empresa_Select_by_Id]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXECUTE usp_Empresa_Select
---------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_Empresa_Select_by_Id]
@Id INT
AS
	SELECT Id, Nombre, RUC, Direccion FROM Empresa
	WHERE Id = @Id and RowState <> 'D'
GO
/****** Object:  StoredProcedure [dbo].[usp_Empresa_Select_by_Nombre]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Exec usp_Empresa_Select_by_Id @ID = 4
------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_Empresa_Select_by_Nombre]
@Nombre varchar(250)
AS
	SELECT Id, Nombre, RUC, Direccion FROM Empresa
	WHERE Nombre like '%' + @Nombre + '%'
GO
/****** Object:  StoredProcedure [dbo].[usp_Empresa_Update]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Exec usp_Empresa_Create @Nombre = 'Delimeli', @RUC = '12345675432', @Direccion = 'Pasaje 2 156, Breña'
----------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_Empresa_Update]
(
@Id INT,
@Nombre varchar(250),
@RUC varchar(12),
@Direccion varchar(250)
)
AS
	UPDATE Empresa
	SET Nombre = @Nombre,
		RUC = @RUC,
		Direccion = @Direccion,
		RowState = 'M',
		LastUpdate = GETDATE()
	WHERE
		Id =  @Id AND RowState <> 'D'

GO
/****** Object:  StoredProcedure [dbo].[usp_GetReportReadTagByDay]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[usp_GetReportReadTagByDay](
	@Fecha as DateTime = null
)
AS  
Begin  
	if (@Fecha is null)
	BEGIN
		set @Fecha = getdate();
	END

	DECLARE @INICIO DATE
	DECLARE @FIN DATETIME
	SET @INICIO = CONVERT(DATE,@FECHA);
	SET @FIN = DATEADD(DAY,1,@INICIO);

	SELECT *
	FROM ReadTag
	WHERE LastTime BETWEEN @INICIO AND @FIN;

End 


-- EXEC usp_GetReportReadTagByDay @Fecha='2021-03-12'
GO
/****** Object:  StoredProcedure [dbo].[usp_LecturasPorDia]    Script Date: 5/04/2021 09:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_LecturasPorDia](@FECHA DATETIME = GETDATE, @RUC varchar(12))
--, @ModuloRol VARCHAR(20) = 'Puerta')
AS
BEGIN
	DECLARE @INICIO DATE
	DECLARE @FIN DATETIME
	
	--DECLARE @FECHA DATE
	--DECLARE @RUC VARCHAR(12)
	--SET @FECHA = '2021-03-14'
	--SET @RUC = '123456789'

	SET @INICIO = CONVERT(DATE,@FECHA);
	SET @FIN = DATEADD(DAY,1,@INICIO);
		
	/*
	SELECT ReadTag.EPC, ReadTag.ModuloId, ReadTag.ModuloRol, COUNT(ReadTag.EPC) AS Lecturas, MAX(ReadTag.LastTime) AS UltimaLectura, Modulo.Codigo, Local.Nombre, Empresa.Nombre AS Expr1, Empresa.RUC
FROM     ReadTag INNER JOIN
                  Modulo ON ReadTag.ModuloId = Modulo.Id INNER JOIN
                  Local ON Modulo.LocalId = Local.Id INNER JOIN
                  Empresa ON Local.EmpresaId = Empresa.Id
GROUP BY ReadTag.EPC, ReadTag.ModuloRol, ReadTag.ModuloId, Empresa.RUC, Empresa.Nombre, Modulo.Codigo, Local.Nombre
HAVING (MAX(ReadTag.LastTime) BETWEEN @inicio AND @fin) AND (Empresa.RUC = @RUC)
ORDER BY ReadTag.EPC
*/
	
	SELECT DISTINCT row_number() OVER (ORDER BY EPC, ModuloId, ModuloRol, COUNT(EPC), MAX(LastTime)) Id, 
	EPC, ModuloId, ModuloRol, COUNT(EPC) AS Lecturas, Local.Nombre as Local, Empresa.Nombre as Empresa,Empresa.RUC, MAX(LastTime) AS UltimaLectura
		FROM     ReadTag INNER JOIN
					  Modulo ON ReadTag.ModuloId = Modulo.Id INNER JOIN
					  Local ON Modulo.LocalId = Local.Id INNER JOIN
					  Empresa ON Local.EmpresaId = Empresa.Id
	GROUP BY ReadTag.EPC, ReadTag.ModuloRol, ReadTag.ModuloId, Empresa.RUC, Empresa.Nombre,Empresa.RUC, Modulo.Codigo, Local.Nombre
	HAVING (MAX(ReadTag.LastTime) BETWEEN @inicio AND @fin) AND (Empresa.RUC = @RUC)
	ORDER BY ReadTag.EPC
	
END

-- usp_LecturasPorDia @FECHA = N'2021-03-14', @RUC = '123456789'
-- , @ModuloRol = 'Puerta'

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ReadTag"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'uview_LecturasDelDia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'uview_LecturasDelDia'
GO
USE [master]
GO
